html, body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 300;
  background-color: white;
}

.nav-div {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  width: 75%;
  padding: 2rem;
  text-align: right;
}

.name {
  text-align: left;
}

@media only screen and (min-width: 1000px) {
  .content {
    width: 40%;
    padding: 2rem;
    text-align: right;
  }
}

.image {

  margin: 0 auto;
  max-width: 100%;
  object-fit: fill;
  border: 2px solid;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  margin-top: 0.20rem;
  list-style: none;
}

.link-list {
  text-align: left;
  list-style: none;
  margin-bottom: 4rem;
}

.list-link {
  text-align: left;
  margin-left: -2.5rem;
}

nav {
background-color: #f4f4f4;
padding: 10px;
}

nav ul {
list-style: none;
text-align: center;
}

nav ul li {
display: inline;
margin-right: 10px;
}

nav ul li a {
text-decoration: none;
color: #333;
}
